node_modules/
release/
dist/
.env
*.local
.DS_Store
Thumbs.db
frontend-src/node_modules/
frontend-src/.nuxt/
frontend-src/.output/
frontend-src/nuxt.config.ts.bak
npm-debug.log*
electron/dist/
*.map
frontend-src/node_modules
